@model PagedList.IPagedList<WebsitePhimHoatHinh18.Models.EF.Comments>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
}

<h2>Danh sách bình luận</h2>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Tên phim
            </th>
            <th>
                Bình luận
            </th>
            <th>
                Đánh giá
            </th>
            <th>
                Ngày tạo
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movies.Tilte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a href="@Url.Action("Delete", new { id = item.CommentID })"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
