@model PagedList.IPagedList<WebsitePhimHoatHinh18.Models.EF.Users>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
}

<h2>Danh sách người dùng</h2>

<div>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-outline-primary" })
    <hr />
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Mã người dùng
            </th>
            <th>
                Tên người dùng
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.UserID })"><i class="fas fa-edit"></i></a>
                    <a href="@Url.Action("Details", new { id = item.UserID })"><i class="fas fa-info-circle"></i></a>
                    <a href="@Url.Action("Delete", new { id = item.UserID })"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }

</table>

<br />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
